.projects {
  &__header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .projects__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
