@use "../assets/styles/base/variables" as *;

.article {
  font-size: 1.6rem;
  color: $color-text-primary;
  padding: 1rem;
  line-height: 1.6;

  p {
    padding: 0.5rem 0;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 3rem 0;
  }

  h3 {
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0;
    text-transform: uppercase;
  }

  b {
    color: yellow;
    font-style: italic;
  }

  &__execution__context {
    background-color: red;

    &__flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
