@use "../../styles/base/variables" as *;

.header {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.description {
  border: 1px solid $color-text-secondary;
  border-radius: $radius;
  padding: 4rem 0;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10rem;
  }

  &__photo {
    border-radius: 3000px;
    height: 100px;
    margin-left: 3rem;
  }

  &__text {
    font-style: italic;
    padding-right: 5rem;
    line-height: 1.6;
    font-size: 1.4rem;
  }
}

@media (max-width: 700px) {
  .description {
    &__flex {
      gap: 2rem;
    }
  }
}
