@use "../../assets//styles/base/variables" as *;

.project-card {
  position: relative;
  width: 100%;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border: 1px solid $color-text-secondary;
  color: $color-text-primary;

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border: none;
  }

  //background: rgba(10, 25, 47, 0.8);
  &__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  &__logo {
    font-size: 8rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: -10px;
    color: $color-accent;
  }

  &__tags {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    color: $color-text-primary;
    font-size: 1rem;
    text-align: center;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &__tag {
    border: 1px solid $color-text-primary;
    padding: 2px 9px;
    border-radius: $radius;
  }

  &__links {
    margin: 10px 5px 0 5px;
    padding-bottom: 10px;
    font-size: 1.4rem;
  }

  &__link {
    margin-right: 10px;
    margin-left: 10px;
  }
}
