@use "../../assets//styles/base/variables" as *;
.skills {
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid $color-text-secondary;
    padding: 2rem;

    text-align: center;

    border-radius: $radius;
    font-size: 1.4rem;
  }

  &__title {
    color: $color-accent;
    font-size: 2rem;
    margin-top: 2rem;
  }
  &__mastered {
    flex: 0.5;
    border-right: 1px solid $color-text-secondary;
  }

  &__learning {
    flex: 0.5;
  }

  &__list {
    text-align: left;
    text-transform: lowercase;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
    margin-top: 2rem;

    &--learning {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 900px) {
  .skills__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .skills__flex {
    flex-direction: column;
    padding: 1.4rem;
  }
}
@media (max-width: 700px) {
  .skills__mastered {
    border-right: none;
  }
}
@media (max-width: 700px) {
  .skills__list--learning {
    margin-left: 0;
  }
}
