.menu {
  background-color: black;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid gray;
  display: none;

  @media (max-width: 950px) {
    display: block;
    position: fixed;
    top: 0;
    padding: 1rem;
    z-index: 9999999;
    width: 100%;
  }
}

.menu__ul {
  list-style: none;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  margin-top: 5rem;
  padding: 5px 10px;

  @media (max-width: 950px) {
    position: fixed;
    inset: 0;
    background: black;
    padding: 60px 30px;
    gap: 10px;
    transform: translateX(-100%);
    z-index: 1000;
    margin-top: 1rem;
  }
}

.menu__ul--open {
  @media (max-width: 950px) {
    transform: translateX(0);
  }
}

.menu__ul li a {
  @media (max-width: 950px) {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
  }
}
