@use "../../assets//styles/base/variables" as *;

.contact-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;
  margin: 20px 0;
}

.contact {
  flex: 0.7;
  background-color: $color-bg;
  border: 1px solid $color-text-secondary;
  border-radius: $radius;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: $color-accent;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  &__label {
    font-size: 1.4rem;
    color: $color-text-secondary;
  }

  &__input,
  &__textarea {
    background-color: transparent;
    border: 1px solid $color-text-secondary;
    border-radius: $radius;
    padding: 0.75rem;
    color: $color-text-primary;
    font-size: 1.4rem;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $color-accent;
    }
  }

  &__textarea {
    min-height: 15rem;
    resize: vertical;
  }

  &__button {
    background-color: $color-accent;
    color: $color-bg;
    padding: 0.75rem 1.25rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-accent-hover;
    }
  }

  &__status {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: $color-accent;
    color: black;
    padding: 10px 25px;
    border-radius: $radius;
    font-weight: 600;
  }
}

.contact-info {
  flex: 0.3;
  background-color: $color-bg;
  border: 1px solid $color-text-secondary;
  border-radius: $radius;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  &__heading {
    color: $color-accent;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
  }

  &__icon {
    font-size: 2rem;
    color: $color-accent;
  }
}

@media (max-width: 900px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
}
