@use "../../assets/styles/base/variables" as *;

.footer {
  border: 1px solid $color-text-secondary;
  border-radius: $radius;
  padding: 10px;

  font-size: 1.2rem;
  color: $color-text-secondary;
  text-align: center;
}

@media (max-width: 900px) {
  .footer {
    margin-top: 5px;
  }
}
