@use "./styles/base/variables" as *;

// komponenty
@use "../components/AboutMe/about-me.scss";
@use "../components/ProjectCard/project-card.scss";
@use "../components/Projects/projects.scss";
@use "../components/Description/description.scss";
@use "../components/ContactForm/contact-form.scss";
@use "../components/Footer/footer.scss";
@use "../components/Skills/skills.scss";
@use "../articles/article.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Fira+Code&display=swap");

body {
  background-color: #0a0a0a;
  font-family: $font-sans;
  color: $color-text-primary;
  max-width: $container-width;
  margin: 0 auto;
}
* {
  margin: 0;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: $color-text-primary;

  &:visited,
  &:active {
    color: $color-text-primary;
  }
  &:hover {
    color: $color-accent;
  }
}

h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  color: $color-accent;
  text-transform: lowercase;
}

h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

p {
  font-size: 1.6rem;
}
