@use "../../assets//styles/base/variables" as *;

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-text-secondary;
  border-radius: $radius;
  padding: 40px 0;

  &__name {
    font-size: 60px;
  }

  &__description {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 3rem;
    color: $color-text-secondary;
    text-align: center;
  }

  &__links {
    margin: 6rem 0;
  }

  &__link {
    background-color: $color-accent;
    color: $color-bg !important;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-accent-hover;
    }

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

@media (max-width: 900px) {
  .about-me__description {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .about-me {
    padding: 30px 0 0 0;
  }
}

@media (max-width: 600px) {
  .about-me__description {
    letter-spacing: 4px;
    text-align: center;
    font-size: 1.4rem;
  }
}

.text {
  font-size: 1rem;
  border: 1px solid $color-text-secondary;
  text-transform: uppercase;
  padding: 1rem 5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
